@import "../../style.scss";

.login{

    height: 100vh;

    background: radial-gradient(ellipse at 10% 14%, rgba(151, 138, 230, 0.42) 26%, rgba(204, 184, 237, 1) 76%, rgba(203, 153, 240, 0.6) 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    
    @include mobile{
        display: flex;
        align-items: normal;
        height: fit-content;
    }

    .card{
        width: 50%;
        display: flex;
        background-color: #fff;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;

        @include tablet{
            width: 90%;
        }

        @include mobile{
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: fit-content;
        }

        .left{
            flex: 1;
            background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600") center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: #fff;

            
            

            h1{
                font-size: 100px;
                line-height: 100px;

                @include mobile{
                    font-size: 50px;
                    line-height: 50px;
                }
            }

            span{
                font-size: 14px;
            }

            button{
                width: 50%;
                padding: 10px;border: none;
                background-color: white;
                color: purple;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;

            h1{
                color: #555;
            }

            form{
                display: flex;
                flex-direction: column;
                gap: 30px;

                

                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;

                    
                }

                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

    }
}