// to import the function that written to change theme
@import "../../style.scss";

.leftbar{
      // import the function here and wrap everything in that
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");

    @include mobile{
        display: none;
    }

    &::-webkit-scrollbar{
        display: none;
    }
    
    .container{
        padding: 20px;

        hr{
            margin: 15px 0px;
            border: none;
            height: 0.5px;
            background-color: themed("border");
        }
        .menu{
            display: flex;
            flex-direction: column;
            gap: 10px;

            span{
                font-size: 12px;
            }

            .user{
                display: flex;
                align-items: center;
                gap: 10px;

                img{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span{
                    font-size: 14px;
                }

            }

            .item{
                display: flex;
                align-items: center;
                // flex-direction: column;
                gap: 10px;

                img{
                    width: 25px;
                    height: 25px;
                }

                span{
                    font-size: 14px;
                }

                
            }

            .chatMenuInput{
                    width: 90%;
                    padding: 10px 0;
                    border: none;
                    border-bottom: 1px solid themed("border");
                    background-color: transparent;
                    color: themed("textColor");
                }

        }
    }
  }
    
}