// to import the function that written to change theme
@import "../../style.scss";

.messenger{
      // import the function here and wrap everything in that
  @include themify($themes) {
    background-color: themed("bgSoft");
    height: calc(100vh - 50px);
    // max-height: 100vh;    
    padding: 0px 70px;
    display: flex;
    flex-direction: column;
    

    @include mobile{
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }

    .chatBoxTop{
        max-height: 88%;
        padding: 10px 40px 10px 10px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 5px; // width of the scrollbar
        }
  
        &::-webkit-scrollbar-track {
          background: #f1f1f1; // background color of the track
        }
  
        &::-webkit-scrollbar-thumb {
          background: #888; // color of the thumb
          border-radius: 4px; // border radius of the thumb
        }
  
        &::-webkit-scrollbar-thumb:hover {
          background: #555; // color of the thumb on hover
        }
    }
    .chatBoxBottom{
        padding: 10px;
        margin-top: 5px;
        display: flex;
        align-items: center;

        .chatMessageInput{
          width: 85%;
          height: 40px;
          padding: 10px;
          border: 1px solid themed("border");
          border-radius: 10px 0 0 10px;
          background-color: themed("bg");
          color: themed("textColor");
          outline: none;
        }

        .chatSubmitButton{
          width: 15%;
          height: 40px;
          border: 1px solid themed("border");
          border-radius: 0 10px 10px 0;
          background-color: themed("messageColor");
          color: themed("bg");
          cursor: pointer;
        }
    }
  }
}

