// to import the function that written to change theme
@import "../../style.scss";

.navbar {
  // import the function here and wrap everything in that
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;

        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");

          @include mobile{
            display: none;
          }

          @include tablet{
            width: 200px;
          }
        }
        
        input:focus{
            outline: none;
        }

      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile{
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        position: relative;

        @include tablet{
          display: none;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        .list{
          position: absolute;
          top: 45px;
          right: 30px;
          border: none;
          width: 100px;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: themed("bg");
          z-index: 999;

          .listItems{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-evenly;
            padding: 10px;
            top: 5px;
            right: 0;
            gap: 10px;
            width: 100px;
            height: 40px;
            border: none;
            border-bottom: 1px solid themed("border");
            cursor: pointer;

            span{
              color: themed("textColor");
            }
          }
        }
      }
    }
  }
}
